

@media (min-width: 768px){}

  .nlw {
    background: linear-gradient(90deg, #77ddf4 2.62%, #8053f3 93.38%);
    border-radius: 50%;
    height: 100px;
    display: flex;
    transition: transform 1s;
    margin: 0 -10px;
  }
  
  .nlw:hover {
    transform: scale(1.5);
  }

